@charset "UTF-8";

/**versão impressa**/
 *{
    margin: 10px;
    padding: 10px;
 }
 html{
    font-family: 'Courier New', Courier, monospace;
    font-style: 1em;
    line-height: 1.5em;
 }
 menu{
    display: none;
 }
 article::after{
    content: 'Esse artigo foi escrito por Carlos Eduardo';
 }