
@charset "UTF-8";

        body{background-color: aqua;
        font-family: cursive; 
        font-size: medium; }
        h1{ color: ivory;
        background-color: dimgrey;}
        h2{color: red;}

    