@charset "UTF-8"
*{ height: 100%;
    font-family: Arial, Helvetica, sans-serif;
 }
 p{text-align: justify;}
 body{background-image: linear-gradient(to right,#015958, #008F8C,#0CABA8 );   }
 main{  
  background-color: rgb(230, 226, 222);
  width: 1000px;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 18px
   rgba(0, 0, 0, 0.479);
 }
 h1{ color: #045353;
text-align: center;
text-shadow:1px 1px 2px  #068383  ;
}
 h2{ color:red ;}