@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}
html,body{
    min-height: 100vh;
    background-color: rgb(158, 157, 157);
}

header,footer{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header > p{
    padding-bottom: 50px;
}
 a{
    color: white;
    font-weight: bolder;
 }
a:hover{
    text-decoration: underline;
    color: red;
}
#normal{
background-color: white;
}
#imagem{
background-color: rgb(59, 59, 59);
color: white;
}
#imagem > p{
background-color: rgba(73, 73, 73, 0.534);
width: 400px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height:2em;

}
footer{
    padding: 15px;
}

    


