@charset "UTF-8";

/*configuração geral*/
*{
    padding: 0px;
    margin: 0px;
}
html body{
    background-color: #2728FF;
    text-shadow: 2px 2px 0px rgba(28, 28, 107, 0.726);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
     
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px ;
}