@charset "Utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: grey;
}
header{
    background-color: rgb(160, 159, 159);
    width: 100vw;
}
header>h1{
    text-align: center;
}
span{
    background-color: rgb(20, 20, 20);
    color:white;
    width: 100vw;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}
span:hover{
    background-color: white;
    color: black;
}
menu{
    display: none;
}
menu>ul{
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    text-align: center;
    background-color: rgb(114, 114, 114);
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
}
menu > ul > li > a:hover{
    background-color: rgb(199, 199, 199);
}
main{

    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    margin:10px;
}
article{
    padding-bottom: 20px;
}
article > p {
   text-align: justify;
   margin-bottom: 20px;
   text-indent: 25px;
}
