@charset "UTF-8";

body{
     background-color: rgb(147, 147, 233);
     font-family: Arial, Helvetica, sans-serif;
}
h1{
     color: black;
}
h1#principal{
     text-align: center;
     background-color: blue;
     color: white;
}
h2{
     color:black;}

.basico{
     color:rgb(34, 161, 8);
}
.intermediario{
     color:rgb(236, 233, 14);
}
.avançado{
     color:rgb(241, 13, 13);
}
p{
     text-indent: 30px;
}
.destaque{  
     background-color: rgba(218, 92, 8, 0.459);
}
/*htmli id = # em css
em html class = . em css*/
